{% block content %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>

<div style="margin-top: 20px;">
    <a href="{% url 'polls:index' %}" style="margin-right: 10px;">Back to all polls</a>

    {% if request.user == question.owner %}
        <a href="{% url 'polls:delete' question.id %}" style="color: #dc3545;">Delete this poll</a>
        <a href="{% url 'polls:results' question.id %}" style="color: #000000;">View poll results</a>
    {% endif %}
{% endblock %}